.container {
    display: flex;
    justify-content: center;
    margin-top: 128px;
    margin-bottom: 170px;
}

.box1 {
    height: 356px;
    width: 190px;
    background: #730273b5;
    /* box-shadow: 0 0 4px #00000029; */
    border-radius: 14px;
    padding-top: 18px;
}

.box2 {
    display: grid;
    grid-gap: 50px;
    margin-left: 40px;
}

.card1 {
    width: 900px;
    height: 65px;
    background: #730273b5;
    /* box-shadow: 0 0 4px #00000029; */
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 28px;
}

.card2 {
    width: 900px;
    background: #ffffff;
    border-radius: 14px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 79px 54px;
}

.products {
    width: 280px;
    height: 356px;
    border-radius: 14px;
    display: grid;
    justify-content: center;
    align-items: center;
}


.product_img {
    width: 150px;
}


.title {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    width: 217px;
}

.description {
    font-size: 14px;
    color: #000000;
}

.star {
    font-size: 15px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.add-to-cart {
    width: 100px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 14px;
    font-size: 12px;
    color: #000000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.add-to-cart:hover {
    background: #000000;
    color: #ffffff;

}

.info {
    display: grid;
    grid-gap: 5px;
    margin-top: 22px;
}

.category {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

ul {
    list-style: none;
    display: grid;
    grid-gap: 22px;
    margin-top: 28px;
    width: 100%;
    justify-content: center;
}


ul li {
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
}

ul li.active {
    text-decoration: underline;
    color: #ffea00;
}

.select_sort {
    width: 123px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #646464;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 4px 5px;
    font-size: 15px;
    outline: none;
}

.select_option {
    color: #000000;
    cursor: pointer;
}


.tagline {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

@media screen and (max-width:1230px) {

    .box1 {
        height: 356px;
        width: 155px;
        background: #730273b5;
        border-radius: 14px;
        padding-top: 18px;
    }

    .card2 {
        width: 900px;
        background: #ffffff;
        border-radius: 14px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 69px 54px;
        justify-content: center;
    }

    .tagline {
        font-size: 15px;
        color: #fff;
        font-weight: 500;
    }

    .card1 {
        width: 740px;
        height: 65px;
        background: #730273b5;
        /* box-shadow: 0 0 4px #00000029; */
        border-radius: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 28px;
    }

    .card2 {
        width: 740px;
        background: #ffffff;
        border-radius: 14px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 69px 54px;
    }
}

@media screen and (max-width:987px) {

    .box1 {
        height: 298px;
        width: 100px;
        background: #730273b5;
        border-radius: 14px;
        padding-top: 18px;
    }

    .tagline {
        font-size: 12px;
        color: #fff;
        font-weight: 500;
    }

    .card1 {
        width: 550px;
        height: 65px;
        background: #730273b5;
        border-radius: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }

    .card2 {
        width: 550px;
        background: #ffffff;
        border-radius: 14px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 69px 54px;
    }

    .category {
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
    }

    ul li {
        font-size: 11px;
        color: #ffffff;
        cursor: pointer;
        font-weight: 500;
    }
}

@media screen and (max-width:757px) {

    .box1 {
        height: 298px;
        width: 83px;
        background: #730273b5;
        border-radius: 14px;
        padding-top: 18px;
    }

    .box2 {
        display: grid;
        grid-gap: 50px;
        margin-left: 12px;
    }

    .tagline {
        font-size: 12px;
        color: #fff;
        font-weight: 500;
        width: 200px;
    }

    .card1 {
        width: 360px;
        height: 65px;
        background: #730273b5;
        border-radius: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }

    .card2 {
        width: 360px;
        background: #ffffff;
        border-radius: 14px;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 69px 54px;
    }

    .category {
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
    }

    ul li {
        font-size: 11px;
        color: #ffffff;
        cursor: pointer;
        font-weight: 500;
    }

    .select_sort {
        width: 98px;
        height: 33px;
        background: #ffffff;
        border: 1px solid #646464;
        box-sizing: border-box;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        padding: 4px 5px;
        font-size: 11px;
    }
}

@media screen and (max-width:460px) {

    .box1 {
        height: 54px;
        width: 275px;
        background: #730273b5;
        border-radius: 8px;
        padding-top: 7px;
    }

    .container {
        display: grid;
        justify-content: center;
        margin-top: 128px;
        margin-bottom: 170px;
        grid-gap: 16px;
    }

    .box2 {
        display: grid;
        grid-gap: 50px;
        margin-left: 12px;
    }

    .tagline {
        font-size: 9px;
        color: #fff;
        font-weight: 500;
        width: 117px;
    }

    .card1 {
        width: 250px;
        height: 54px;
        background: #730273b5;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 9px;
    }

    .card2 {
        width: 250px;
        background: #ffffff;
        border-radius: 14px;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 69px 54px;
    }

    .category {
        font-size: 11px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
    }

    ul li {
        font-size: 9px;
        color: #ffffff;
        cursor: pointer;
        font-weight: 500;
        margin-left: -12px;
    }

    .select_sort {
        width: 79px;
        height: 32px;
        background: #ffffff;
        border: 1px solid #646464;
        box-sizing: border-box;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        padding: 4px 0px;
        font-size: 10px;
    }

    ul {
        list-style: none;
        display: flex;
        grid-gap: 22px;
        margin-top: 9px;
        width: 100%;
        justify-content: center;
    }

    .container {
        display: grid;
        justify-content: center;
        margin-top: 128px;
        margin-bottom: 170px;
    }
}